In [1]:
import pickle

In [2]:
import numpy as np
import pandas as pd
from cleanData import clean
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow import keras 
from sklearn.preprocessing import StandardScaler, OneHotEncoder

# Load and clean the data
data = pd.read_csv('train.csv')
data = clean(data).drop('Credit_Score', axis=1)
data.Score = data.Score.map({3:2, 2:1, 1:0})

# Check for NaN values in the data
assert not data.isnull().values.any(), "NaN values found in data after cleaning"

# Split the data
xTrain, xTest, yTrain, yTest = train_test_split(data.drop('Score', axis=1), data.pop('Score'), test_size=0.2)

# Standardize the features
scaler = StandardScaler()
xTrain = scaler.fit_transform(xTrain)
xTest = scaler.transform(xTest)

# One-hot encode the targets
encoder = OneHotEncoder(sparse=False)
yTrain_encoded = encoder.fit_transform(yTrain.values.reshape(-1, 1))
yTest_encoded = encoder.transform(yTest.values.reshape(-1, 1))

# Define the model
model = keras.Sequential([
    keras.layers.Dense(1024, activation=keras.layers.LeakyReLU(alpha=0.1), input_shape=(xTrain.shape[1],)),
    keras.layers.Dense(516, activation='relu'),
    keras.layers.Dense(3, activation='softmax')
])

# Compile the model with gradient clipping
optimizer = keras.optimizers.Adam(learning_rate=0.001, clipnorm=1.0)
model.compile(optimizer=optimizer, loss='categorical_crossentropy', metrics=['accuracy'])

# Set up early stopping
earlyStopping = keras.callbacks.EarlyStopping(monitor='val_loss', patience=40)

# Train the model with a larger batch size
history = model.fit(
    xTrain, 
    yTrain_encoded, 
    batch_size=2,  # Increased batch size
    validation_split=0.2, 
    callbacks=[earlyStopping], 
    epochs=500
)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_23764\2382349313.py:10: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('train.csv')

AssertionError: NaN values found in data after cleaning

In [5]:
# Load and clean the data
data = pd.read_csv('train.csv')
clean(data)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_26800\2742238624.py:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('train.csv')

,Monthly_Inhand_Salary,Num_Credit_Card,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Monthly_Balance,Credit_Score,Score
0,NaN,4,4,3,0.0,NaN,809.98,26.822620,NaN,NaN,Good,3
1,NaN,4,4,-1,0.0,NaN,809.98,31.944960,NaN,NaN,Good,3
2,NaN,4,4,3,0.0,NaN,809.98,28.609352,NaN,NaN,Good,3
3,NaN,4,4,5,0.0,NaN,809.98,31.377862,NaN,NaN,Good,3
4,NaN,4,4,6,0.0,NaN,809.98,24.797347,NaN,NaN,Good,3
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,NaN,6,2,23,0.0,NaN,502.38,34.663572,NaN,NaN,Poor,1
99996,NaN,6,2,18,0.0,NaN,502.38,40.565631,NaN,NaN,Poor,1
99997,NaN,6,2,27,0.0,NaN,502.38,41.255522,NaN,NaN,Poor,1
99998,NaN,6,2,20,0.0,NaN,502.38,33.638208,NaN,NaN,Standard,2
99999,NaN,6,2,18,0.0,NaN,502.38,34.192463,NaN,NaN,Poor,1

In [ ]:
model.save("Prueba_2_layers.keraas")

INFO:tensorflow:Assets written to: Prueba1.keraas\assets

INFO:tensorflow:Assets written to: Prueba1.keraas\assets